
.main-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    columns: 1;
    width: 600px;
    height: 550px;
    border: 1px solid black; 
    margin-left: auto;
    margin-right: auto;
}

.intro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 10px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.start-btn{
  width: auto;
  height: auto;
  padding: 10px;
  flex-shrink: 0;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  background: #4D5B9E;
  cursor: pointer;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out
  
}

.start-btn:hover{
  background-color: green;
}


.quiz-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 625px;
  flex-shrink: 0;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.answer-container{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}
.answer-btn{
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  padding: 5px 10px;
  margin: auto;
}


.check-answer-btn{
  margin-top: 20px;
  width: auto;
  height: auto;
  padding: 10px;
  flex-shrink: 0;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  background: #4D5B9E;
  cursor: pointer;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out
}
.check-answer-btn:hover {
  background-color: green;
}

